<div class = "container">
  <div class = "row">
    <div class="col-md-4 mx-auto">
        <p>
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。</br>
        </p>
    </div>
  </div>

  <h3><strong>新着商品</strong></h3>
  
    <div class="card" style="width: 15rem;">
      <!--<img src="..." class="card-img-top" alt="...">ここに写真を入れる-->
      <div class="card-body">
        <p class="card-title">
          商品名
        </p>
        <p class="card-text">
          ¥値段
        </p>
      </div>
    </div>

  </div>

  <div>
    <%= link_to "全ての商品を見る>", products_path, class: "btn-link " %>
  </div>

</div>