// Place all the styles related to the admins/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.box2 {
  background-color: #f2f2f2;
  width: 500px;
  height: 30rem;
  border-radius: 40px
}

.staff {
  background-image: url("/images/staff.png");
  background-repeat: no-repeat;
  background-size: 80px;
  width: 100%;
  height: 100%;
}