<body>
  <div class="container">
    <div class="row">
      <div class="col">
          <h2 class="mb-5 login-color col-3 text-center">注文履歴一覧</h2>
          
          <table class="table table-bordered border-dark col-12 mt-3 mb-5">
              <tr>
                  <th class="table-active">注文日</th>
                  <th class="table-active col-5">配送先</th>
                  <th class="table-active">注文商品</th>
                  <th class="table-active">支払い金額</th>
                  <th class="table-active">ステータス</th>
                  <th class="table-active">注文詳細</th>
              </tr>
              <tr>
                  <th>これは</th>
                  <th>試しに入れてます</th>
                  <th>もう一つの下のthに</th>
                  <th>eachメソッド</th>
                  <th>使って記述</th>
                  <th><%= link_to "表示する", orders_path ,class: "btn btn-primary btn-sm" %></th>
              </tr>
              <tr>
                  <th></th>
                  <th></th>
                  <th>each文は後で書く</th>
                  <th></th>
                  <th></th>
                  <th>↑これ見せかけ</th>
              </tr>
          </table>
      </div>
    </div>
  </div>
</body>