<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h2 class="mb-5 login-color col-3 text-center ml-5">注文履歴詳細</h2>
      </div>
    </div>
          <div class="row">
            <div class="col-7"><p class="font-weight-bold">注文情報</p></div>
            <div class="col-3"><p class="font-weight-bold ml-3">請求情報</p></div>
          <table class="table table-bordered border-dark col-7">
            
                  <tr>
                      <th class="table-active col-3">注文日</th>
                      <th>今は</th>
                  </tr>
                  <tr>
                    <th class="table-active">配送先</th>
                    <th>適当に</th>
                  </tr>
                  <tr>
                    <th class="table-active">支払い方法</th>
                    <th>文字を</th>
                  </tr><tr>
                    <th class="table-active">ステータス</th>
                    <th>入れておく</th>
                  </tr>
          </table>
          <table class="table table-bordered border-dark col-3 ml-3 h-75">
                  <tr>
                      <th class="table-active">表品合計</th>
                      <th>ここに</th>
                  </tr>
                  <tr>
                    <th class="table-active">配送料</th>
                    <th>何か</th>
                  </tr>
                  <tr>
                    <th class="table-active">ご請求額</th>
                    <th>入れる</th>
                  </tr>
          </table>
          </div>
          <div class="col-7"><p class="font-weight-bold">注文内容</p></div>
          <table class="table table-bordered border-dark col-9 mt-3 mb-5">
              <tr>
                  <th class="table-active col-6">商品</th>
                  <th class="table-active">単価（税込）</th>
                  <th class="table-active">個数</th>
                  <th class="table-active">小計</th>
              </tr>
              <tr>
                  <th>これは</th>
                  <th>試し</th>
                  <th>ただの</th>
                  <th>確認</th>
              </tr>
          </table>
      </div>
    </div>
  </div>
</body>