<div class = "container">
  <div class = "row">
    <div class="px-3 mx-auto  mt-5">
       
        <h3 style="text-align:center">
          ご注文ありがとうございました!!
        </h3>
     </div>
     <div class="thanks_image offset-2" style="height: 400px;"></div>
    </div>
  </div>
  <div class="row mb-5">
     <div class="col-12 text-align-center">
       　　　　　　<%= link_to "注文履歴見る!!", orders_path, class:'btn btn-primary ml-5 ' %> 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 <%= link_to "Topページへ", root_path, class:'btn btn-primary ml-5 offset-5' %>
     </div>
  </div>
</div>