<div class = "container">
  <div class = "row">
    <div class="px-3 mx-auto  mt-5 mb-5">
       
        <h3 style="text-align:center">
          ご注文ありがとうございました
        </h3>
     </div>
  </div>
</div>