/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.logo {
  font-family:selif;
}
.navbar {
  background-color:#f3f0ec;
}

.text-color {
    background:#f3f0ec
}

.btn-primary {
    color: #362222 !important;
    background-color: #f3f0ec !important;
    border-color: #f3f0ec!important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #362222!important;
    background-color: #E6DDC6!important;
    border-color: #E6DDC6!important;
}

.table-color {
  background-color:#f3f0ec;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #f3f0ec;
}

.carousel {
  height: 600px;
}
.carousel-inner, .item {
  height: 100%;
  position: relative;
}
.carousel .image {
  width: 100%;
  height: 100% !important;
  background-size: contain;
  
  
  
}
.cover-text {
  position: absolute;
  padding: 50px;
  font-size: 20px;
  color: white;
  z-index: 1; /* ADD */
}

// .stop {
//   height: 500px;
// }
  

// .image-1 {
//   height: 500px;
//   background-image: url(/images/cup_cake.jpg);
//   background-size: cover;
//   background-position: center;
// }
// .image-2 {
//   background-image: url(/images/makalon.jpg);
//   background-size: cover;
// }
// .image-3 {
//   background-image: url(/images/store_view.jpg);
//   background-size: cover;
// }
// .image-4 {
//   background-image: url(/images/good_cakes.jpg);
//   background-size: cover;
// }


.welcome_cake {
  font-family: cursive;
  color: rgba(255, 117, 160,1);
  margin-top: 20px;
  font-size: 60px;
}

.welcome_text {
  color: rgba(0, 0, 0,0.5);
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(/images/img1.jpg);
  background-size: cover;
  padding-top: 20px;
  background-position: center;
}

.main_back {
  width: 100%;
  height: 130px;
  background-color: rgba(243,240,236,0.7);
  justfy-content: center;
  text-align: center;
  
}

.main-visual-text {
  width: 70%;
  height: 130px;
  
  text-align: center;
  color: #362222;
  font-weight : bold;
  margin: auto;
}

.about-image {
  width: 100%;
  height: 300px;
  background-image: url(/images/img2.jpg);
  background-size: cover;
  object-fit: fill;

}

.thanks_image {
  width: 70%;
  height: 300px;
  background-image: url(/images/thanks_image2.png);
  background-size: contain;
  
  background-position: bottom center;
}

.mypage_image {
  width: 400px;
  height: 400px;
  background-image: url(/images/mypage_image3.png);
  background-size: 800px 400px;
  background-repeat:  no-repeat; 
  background-position: bottom center;
}


.mypage_edit {
  width: 400px;
  height: 400px;
  background-image: url(/images/mypage_edit_image.png);
  background-size: 800px 400px;
  background-repeat:  no-repeat; 
  background-position: bottom center;
}

.shipping_image {
  width: 200px;
  height: 200px;
  background-image: url(/images/shipping_image.png);
  background-size: 600px 300px;
  background-repeat:  no-repeat; 
  background-position:  center;
}

.shipping_edit_image {
  width: 200px;
  height: 200px;
  background-image: url(/images/shipping_edit_image.png);
  background-size: 600px 300px;
  background-repeat:  no-repeat; 
  background-position:  center;
}

.order_index_image {
  width: 500px;
  height: 100px;
  background-image: url(/images/order_index_image2.png);
  background-size: 250px 170px;
  background-repeat: repeat-x;
  background-position:  center;
}

.order_show_image {
  width: 500px;
  height: 100px;
  background-image: url(/images/order_show_image.png);
  background-size: 250px 170px;
  background-repeat: repeat-x;
  background-position:  center;
}

.cart_image {
  width: 500px;
  height: 100px;
  background-image: url(/images/cart_image.png);
  background-size: 280px 170px;
  background-repeat: repeat-x;
  background-position:  center;
}

.order_new_image {
  width: 200px;
  height: 400px;
  background-image: url(/images/order_new_image.png);
  background-size: 800px 500px;
  background-repeat:  no-repeat; 
  background-position:  center;
}

.confirm_image {
  width: 400px;
  height: 200px;
  background-image: url(/images/confirm_image.png);
  background-size: 600px 300px;
  background-repeat:  no-repeat; 
  background-position:  center;
}

.product_show_image {
  width: 260px;
  height: 220px;
  background-image: url(/images/product_show_image2.png);
  background-size: 540px 290px;
  background-repeat:  no-repeat; 
  background-position:  center;
}

.product_index_image {
  width: 500px;
  height: 140px;
  background-image: url(/images/product_index_image.png);
  background-size: 250px 150px;
  background-repeat: repeat-x;
  background-position:  center;
}

// .top_image1 {
//   width: 280px;
//   height: 220px;
//   background-image: url(/images/top_image1.png);
//   background-size: 500px 290px;
//   background-repeat:  no-repeat; 
//   background-position:  center;
// }
// .top_image2 {
//   width: 350px;
//   height: 220px;
//   background-image: url(/images/top_image2.png);
//   background-size: 430px 260px;
//   background-repeat:  no-repeat; 
//   background-position:  center;
// }
.top_image6 {
  width: 280px;
  height: 220px;
  background-image: url(/images/top_image6.png);
  background-size: 450px 240px;
  background-repeat:  no-repeat; 
  background-position:  center;
}